*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/google-services.json
app/src/main/res/values/api_key.xml
*.jks
*.keystore
keystore.properties
.termux*
